<!-- The video -->
    <video autoplay muted loop id="myVideo">
            <source src="~/Images/cover.mp4" type="video/mp4" />
    </video>


    <div class="content">
        <h2>Welcome</h2>
        <p>Hi, My Name is <span style="color:saddlebrown;font-size:18px;">Dwayne Naidoo</span>, I'm a Software Developer, my qualifications are <span style="font-size:15px;"><a href="~/Images/Dwayne Diploma IT.pdf">Diploma in IT</a></span>, <span style="font-size:15px;"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/5X6STSDFMRLG">Full Stack Web and Multiplatform Mobile App Development</a></span>.</p>
        <p> For more info: <a href="https://www.linkedin.com/in/dwayne-naidoo-35201390"><i class="fab fa-linkedin"></i></a> </p>
        <input type="button"  class="btn btn-primary" value="View Portfolio" onclick="location.href='@Url.Action("Fullstack","Home")'" />
       
    </div> 