
<body>
    <script src="~/Content/js/hover-box.js"></script>
    <link href="~/Content/css/hover-box.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index","Home")">Portfolio</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Fullstack","Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("History","Home")">Work History</a></li>
                  </ul>

            </div>
        </div>
    </nav>

    <div class="jumbotron Header1">
        <div class="container text-center">
            <h1>Dwayne Naidoo</h1>
            <p>Software Developer</p>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Work History(Most Recent): </h3><br>
        <div class="row">
            <div class="col-sm-6">
                <p></p>
                <div class="card">
                    <div class="card-header bg-primary" style="font-family:Arial; padding:10px; font-size:15px;">
                        The Workforce Group
                        (Workforce Software)
                    </div>
                    <div class="card-body" style="font-family:Arial; font-size:11px;min-height:150px;">
                        <br />

                        CREATING A GRAPHIC USER INTERFACE
                        <br /><b>
                            (HTML5(CREATING CONTROLS), JAVASCRIPT(ANIMATION OR FUNCTION OF THE CONTROLS),CSS3,BOOTSTRAP)
                        </b>
                        <br />
                        CREATING AND TESTING WEBSITES,DESKTOP AND MOBILE APPLICATIONS <b>(C#)</b>
                        <br />
                        CREATING DATABASE
                        <b>
                            (MYSQL)
                         </b>
                        <br />
                        SOFTWARE USED 
                        <b>
                          (MS VISUAL STUDIO, MYSQL SERVER)
                         </b>
                       <br /> 
                        <br />
                    </div>
                    <div class="card-footer  bg-info" style="font-family:Arial;padding:10px;font-size:13px;font-weight:bold;">March 2018 - Current (Software Developer)</div>
                </div>
            </div>
            <div class="col-sm-6">
                <p></p>
                <div class="card">
                    <div class="card-header bg-primary" style="font-family:Arial; padding:10px; font-size:15px;">
                        Freelance
                    </div>
                    <div class="card-body" style="font-family:Arial; font-size:11px;min-height:150px;">
                        <br />

                        CREATING AND TESTING WEBSITES, WEBAPPS, DESKTOP AND MOBILE
                        APPLICATIONS<b> (C#)</b><br />
                        CREATING DATABASE <b> (MYSQL)</b><br />
    SOFTWARE USED <b>(MS VISUAL STUDIO, MYSQL SERVER)</b>
    <br />
    <br />
</div>
                    <div class="card-footer  bg-info" style="font-family:Arial;padding:10px;font-size:13px;font-weight:bold;">July 2017 - February 2018 (Software Developer)</div>
                </div>
            </div>

        </div>
    </div><br>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                <p></p>
                <div class="card">
                    <div class="card-header bg-primary" style="font-family:Arial; padding:10px; font-size:15px;">
                        The Workforce Group
                        (Workforce Software)
                    </div>
                    <div class="card-body" style="font-family:Arial; font-size:11px;min-height:150px;">
                        <br />

                        CREATING A GRAPHIC USER INTERFACE
                        <br /><b>
                            (HTML5(CREATING CONTROLS), JAVASCRIPT(ANIMATION OR FUNCTION OF THE CONTROLS),CSS3,BOOTSTRAP)
                        </b>
                        <br />
                        CREATING AND TESTING WEBSITES,DESKTOP AND MOBILE APPLICATIONS <b>(C#)</b>
                        <br />
                        CREATING DATABASE
                        <b>
                            (MYSQL)
                        </b>
                        <br />
                        SOFTWARE USED
                        <b>
                            (MS VISUAL STUDIO, MYSQL SERVER)
                        </b>
                        <br />
                        <br />
                    </div>
                    <div class="card-footer  bg-info" style="font-family:Arial;padding:10px;font-size:13px;font-weight:bold;">
                        May 2016 - June 2017
                        (Software Developer)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p></p>
                <div class="card">
                    <div class="card-header bg-primary" style="font-family:Arial; padding:10px; font-size:15px;">
                        AP-POINT
                    </div>
                    <div class="card-body" style="font-family:Arial; font-size:11px; min-height:150px;">
                        <br />
                        CREATING A GRAPHIC USER INTERFACE
                        <br />
                        <b>
                            (HTML5(CREATING
                            CONTROLS),ACTIONSCRIPT(CLICK FUNCTIONS THAT CONNECT TO THE
                            DATABASE OR SERVER), JAVASCRIPT(ANIMATION OR FUNCTION OF THE
                            CONTROLS),CSS3,BOOTSTRAP)
                        </b>
                        <br />
                        CREATING MOBILE/WEB SOFTWARE FROM START TO FINISH <b>(ANDROID,IOS,WINDOWS)</b>
                        <br />
                        CREATING DATABASE <b>(SQL)</b>
                        <br />
                        SOFTWARE USED <b>(ALPHA ANYWHERE, MS VISUAL STUDIO, PHONEGAP)</b>
                        <br />
                        <br />
                    </div>
                    <div class="card-footer  bg-info" style="font-family:Arial;padding:10px;font-size:13px;font-weight:bold;">
                        February 2015 - April 2015
                        (Mobile/Web Developer)
                    </div>
                </div>

            </div>

        </div>
    </div><br><br>


</body>
